body {
    margin: 100px;
}

#page-title {
    text-align: center;
}

#canvas {
    width: 50%;
    margin: auto;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.pixel {
    background-color: grey;
    height: 30px;
    flex: 1 0 auto;
}